<!DOCTYPE html>
　　<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="../css/default.css">
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/jscex.min.js"></script>
        <script type="text/javascript" src="../js/jscex-parser.js"></script>
        <script type="text/javascript" src="../js/jscex-jit.js"></script>
        <script type="text/javascript" src="../js/jscex-builderbase.min.js"></script>
        <script type="text/javascript" src="../js/jscex-async.min.js"></script>
        <script type="text/javascript" src="../js/jscex-async-powerpack.min.js"></script>
        <script type="text/javascript" src="../js/functions.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/love.js" charset="utf-8"></script>
        <style type="text/css">
            <!--
            .STYLE1 {
                color: #666666
            }
            -->
        </style>　　
    </head>
    <body>
    　　{{ content }}
    </body>
　　</html>